services:
  # 前端服务
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quant_trade_web
    ports:
      - "80:80"
    networks:
      - quant-network
    restart: unless-stopped

networks:
  quant-network:
    external: true
